# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENV
# =========================
venv/
env/
ENV/

# =========================
# MODEL FILES (IMPORTANT)
# =========================
*.pkl
*.joblib

# =========================
# DATA FILES
# =========================
*.csv
*.xlsx
*.json

# =========================
# NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# STREAMLIT CACHE
# =========================
.streamlit/
.cache/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# KEEP IMPORTANT FILES
# =========================
!app.py
!requirements.txt
!README.md